<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
  <div style="box-shadow:1px 1px 1px 1px rgba(0.2,0.2,0.2,0.2);padding: 2px 16px 2px 16px; transition: 0.3s; border-radius: 2px;">
    <div style="margin: auto;padding:40px 20px 20px 40px;">
      <h3 style="font-size: 30px; font-family: sans-serif; color: black">Confirm your email</h3>
      <p style="font-size: 20px; font-family: sans-serif; color: black">
        Thank you for registering. Please click on the below link to activate your account
      </p>
      <p style="margin-bottom: 15px;border-left: 6px solid #4682B4;padding: 4px 12px;background-color:azure; font-size: 16px; font-family: serif; color: black">
        Link will expire in 15 minutes.
      </p>
      <hr style="border-top: 1px solid rgba(240,255,255,0.71);">
      <button type="button" style="background: #535b62; color: #ffffff; border: 2px solid #535b62; border-radius: 3px;padding: 8px 7px;text-align: center;text-decoration: none;display: inline-block;font-size: 13px;">
        <a href="" style="color: #ffffff; text-decoration-color: #535b62;font-family: sans-serif">Active now</a>
      </button>
    </div>
  </div>
</body>
</html>